#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

.ant-switch-inner {
    color: #3A3A3A;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 115%;
    
}

.ant-switch {
    background-color: #DBDBDB;

}

.ant-switch-checked {
    background-color: #DBDBDB;
}

.ant-switch-loading-icon, .ant-switch::after {
    background-color: #4FA1C1;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: rgba(255, 255, 255, 0.93);
}

.altern-switch.ant-switch {
    background-color: #FFFFFF;
    border: 1px solid #4FA1C1;
    box-sizing: border-box;
    border-radius: 10px
}

.line {
    margin:5px 0;
    height:4px;
    background:
      repeating-linear-gradient(to right,#4FA1C1 0,#4FA1C1 9px,transparent 9px,transparent 18px)
      /*5px red then 2px transparent -> repeat this!*/
  }

.ant-btn-primary {
    color: #fff;
    background-color: #4FA1C1;
    border-color: #4FA1C1;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background-color: #4893B0;
    border-color: #4893B0;
}

.ant-cascader-picker {
    border: transparent; 
    box-sizing: border-box;
    border-radius: 10px;
}

.ant-cascader-input.ant-input {
    border: 1px solid #4FA1C1; 
    box-sizing: border-box;
    border-radius: 10px;
    height: 100%;
}

.anticon svg {
    fill: #444242;
}